@import "header";
@import "footer";
@import "var";

#header {
  .right-side_header {
    display: flex;
    justify-content: end;
  }
}

#main {
  color: var(--font-color);
  // background-color: var(--night-mode-main);

  #about {
    padding: 130px 3% 0;
    height: 100vh;

    h3 {
      font-size: 1.8rem;
      padding: 1rem 0;
    }

    h4 {
      font-size: 1.3rem;
      padding: 1rem 0;
    }

    p {
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
  }
}
