#about {
  padding-top: 160px;
  margin-top: 31rem;
  color: var(--font-color);
  // opacity: 0;

  h3 {
    font-size: 1.8rem;
    padding: 1rem 0;
  }

  h4 {
    font-size: 1.3rem;
    padding: 1rem 0;
  }

  p {
    font-size: 1.1rem;
    letter-spacing: 1px;
  }
}
