@import "header";
@import "footer";
@import "var";

* {
  margin: 0;
  padding: 0;
}

#main {
  padding: 110px 3% 3rem;
  min-height: 100vh;
  height: auto;

  h2 {
    padding: 2rem 0;
    color: var(--font-color);
    font-size: 1.8rem;
  }

  .card-container {
    padding: 1rem;

    .card-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 40px 20px;

      li {
        list-style-type: none;
        // justify-content: center;
        margin: 0 auto;
      }

      .not_found {
        color: var(--font-color);
      }

      .card {
        border-radius: 10px;
        position: relative;

        width: 350px;
        height: 57vh;

        img {
          position: absolute;
          top: 1rem;
          left: 15px;
          width: 90%;
          height: auto;
        }

        h3 {
          position: absolute;
          top: 12.5rem;
          left: 1rem;
          // text-align: center;
          margin: 0 auto;
        }

        .description {
          position: absolute;
          top: 14.5rem;
          left: 1rem;
          width: 90%;
          font-size: 0.9rem;
          border: solid 1px #000;
          box-sizing: border-box;
          padding: 0.5rem;
          background-color: #ebe9e9;
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  #main {
    height: 1000vh;
    padding: 90px 5% 0;
    .card-list {
      display: flex;
      flex-direction: column;
      justify-content: center;

      // .card {
      //   height: 60vh;
      // }
    }
  }

  #about {
    h3 {
      padding: 1rem 0;
      font-size: 1.5rem;
    }

    h4 {
      padding: 1rem 0;
    }

    p {
      padding: 1rem 0;
    }
  }
}
