@import "header";
@import "footer";
@import "var";

* {
  margin: 0;
  padding: 0;
}

#main {
  padding: 110px 3% 3rem;
  height: 1100vh;

  h2 {
    padding: 2rem 0;
    color: var(--font-color);
    font-size: 1.8rem;
  }

  .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    gap: 40px 20px;

    li {
      list-style-type: none;
      // justify-content: center;
      margin: 0 auto;
    }

    .not_found {
      color: var(--font-color);
    }

    .card {
      border-radius: 10px;
      position: relative;

      width: 330px;
      height: 55vh;

      img {
        position: absolute;
        top: 1rem;
        left: 15px;
        width: 90%;
        height: auto;
      }

      h3 {
        position: absolute;
        top: 12rem;
        left: 1rem;
        // text-align: center;
        margin: 0 auto;
      }

      span {
        position: absolute;
        top: 13.7rem;
        left: 1rem;
        width: 90%;
        font-size: 0.9rem;
      }

      p {
        position: absolute;
        top: 15rem;
        left: 1rem;
        width: 90%;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 430px) {
  #main {
    height: 1000vh;
    padding: 160px 5% 0;
    .card-list {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  #about {
    h3 {
      padding: 1rem 0;
      font-size: 1.5rem;
    }

    h4 {
      padding: 1rem 0;
    }

    p {
      padding: 1rem 0;
    }
  }
}
